@page "/builder"
@using ViaJsonBuilder.Models.Json.Via
@inject ClipboardService Clipboard
@inject ISessionStorageService SessionStorage
@inject IBlazorDownloadFileService BlazorDownloadFileService
@inject KeyboardConfigInfoExtractor Extractor
@inject ViaBuilder ViaBuilder

<PageLayout @ref="pageBase" Title="VIA JSON Builder" TargetFiles="@(new[] { "config.h","JSON ファイル"})"
            ValidateFunc="this.Validate" OnUploadFuncAsync="this.OnUpload" OnDownloadFuncAsync="this.OnDownload" OnCopyClipboard="this.OnCopyClipboard">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td style="width:100px">Name</td>
                <td style="width:100px"></td>
                <td><input type="text" value="@this.Context.Name" @onchange="@this.OnNameChangedAsync" /></td>
            </tr>
            <tr>
                <td>Vendor ID</td>
                <td></td>
                <td><input type="text" value="@this.Context.VendorId" @onchange="@this.OnVendorIdChangedAsync" /></td>
            </tr>
            <tr>
                <td>Product ID</td>
                <td></td>
                <td><input type="text" value="@this.Context.ProductId" @onchange="this.OnProductIdChangedAsync" /></td>
            </tr>
            <tr>
                <td>Lighting</td>
                <td></td>
                <td>
                    <select @onchange="this.OnLightingChangedAsync">
                        @foreach (var item in Enum.GetNames(typeof(Lighting)))
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Matrix</td>
                <td>Rows</td>
                <td><input type="number" value="@this.Context.Rows" @onchange="this.OnRowsChangedAsync" /></td>
            </tr>
            <tr>
                <td></td>
                <td>Cols</td>
                <td><input type="number" value="@this.Context.Cols" @onchange="@this.OnColsChangedAsync" /></td>
            </tr>
            <tr>
                <td>Layouts</td>
                <td>Labels</td>
                <td><textarea style="font-family: monospace; width:100%" rows="1" value="@this.Context.Labels" @onchange="@this.OnLabelsChangedAsync" /></td>
            </tr>
            <tr>
                <td></td>
                <td valign="top">Keymap</td>
                <td><textarea style="font-family: monospace; width:100%" rows="10" value="@this.Context.Keymap" @onchange="@this.OnKeymapChangedAsync" /></td>
            </tr>
        </tbody>
    </table>
</PageLayout>

@code {
    private PageLayout pageBase;

    private ViaContext Context = new ViaContext
    {
        Lighting = Lighting.none.ToString(),
    };

    private bool Validate(IFileListEntry file)
    {
        var fileName = file.Name;

        return fileName.ToLower().Equals("config.h") || fileName.ToLower().EndsWith(".json");
    }

    private async Task OnUpload(IFileListEntry file)
    {
        var fileName = file.Name;

        using var reader = new StreamReader(file.Data);

        if (fileName.ToLower().Equals("config.h"))
        {
            try
            {
                await this.FillPropertiesAsync(await reader.ReadToEndAsync());
            }
            catch
            {
                this.pageBase.ShowError("解析に失敗しました。手動で入力してください。");
                return;
            }
        }
        else if (fileName.ToLower().EndsWith(".json"))
        {
            this.Context.Keymap = await reader.ReadToEndAsync();
        }

        await this.SaveSessionStorageAsync();
    }

    private async Task FillPropertiesAsync(string target)
    {
        await Task.Run(() =>
        {
            var info = this.Extractor.Extract(target);

            this.Context.Name = info.Name;
            this.Context.VendorId = info.VendorId;
            this.Context.ProductId = info.ProductId;
            this.Context.Rows = info.Rows;
            this.Context.Cols = info.Cols;
        });
    }

    private string BuildJson()
    {
        var context = new JsonBuildingContext
        {
            ViaContext = this.Context,
        };

        return this.ViaBuilder.Build(context);
    }

    private async ValueTask OnDownload()
    {
        var json = this.BuildJson();

        await this.BlazorDownloadFileService.DownloadFileFromText($"{this.Context.Name.ToLower().Replace(" ", "_")}.json", json, "application/octet-stream");
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this.LoadSessionStorageAsync();
    }

    private async Task OnNameChangedAsync(ChangeEventArgs e)
    {
        this.Context.Name = e.Value.ToString();
        await this.SaveSessionStorageAsync();
    }

    private async Task OnVendorIdChangedAsync(ChangeEventArgs e)
    {
        this.Context.VendorId = e.Value.ToString();
        await this.SaveSessionStorageAsync();
    }

    private async Task OnProductIdChangedAsync(ChangeEventArgs e)
    {
        this.Context.ProductId = e.Value.ToString();
        await this.SaveSessionStorageAsync();
    }

    private async Task OnRowsChangedAsync(ChangeEventArgs e)
    {
        this.Context.Rows = e.Value.ToString();
        await this.SaveSessionStorageAsync();
    }

    private async Task OnColsChangedAsync(ChangeEventArgs e)
    {
        this.Context.Cols = e.Value.ToString();
        await this.SaveSessionStorageAsync();
    }

    private async Task OnLightingChangedAsync(ChangeEventArgs e)
    {
        this.Context.Lighting = e.Value.ToString();
        await this.SaveSessionStorageAsync();
    }

    private async Task OnLabelsChangedAsync(ChangeEventArgs e)
    {
        this.Context.Labels = e.Value.ToString();
        await this.SaveSessionStorageAsync();
    }

    private async Task OnKeymapChangedAsync(ChangeEventArgs e)
    {
        this.Context.Keymap = e.Value.ToString();
        await this.SaveSessionStorageAsync();
    }

    private async Task LoadSessionStorageAsync()
    {
        this.Context = await this.SessionStorage.GetItemAsync<ViaContext>(nameof(ViaContext));
    }

    private async Task SaveSessionStorageAsync()
    {
        await this.SessionStorage.SetItemAsync(nameof(ViaContext), this.Context);
    }

    private async Task OnCopyClipboard()
    {
        try
        {
            var json = this.BuildJson();

            await this.Clipboard.WriteTextAsync(json);
        }
        catch (Exception ex)
        {
            this.pageBase.ShowError(ex.Message);
        }
    }

}
