@page "/builder"
@using ViaJsonBuilder.Models.Json.Via
@inject IBlazorDownloadFileService BlazorDownloadFileService
@inject KeyboardConfigInfoExtractor Extractor
@inject ViaBuilder ViaBuilder

<PageLayout @ref="pageBase" Title="VIA JSON Builder" TargetFiles="@(new[] { "config.h","JSON ファイル"})"
            ValidateFunc="this.Validate" OnUploadFuncAsync="this.OnUpload" OnDownloadFuncAsync="this.OnDownload">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td style="width:100px">Name</td>
                <td style="width:100px"></td>
                <td><input type="text" @bind="@Context.Name" /></td>
            </tr>
            <tr>
                <td>Vendor ID</td>
                <td></td>
                <td><input type="text" @bind="@Context.VendorId" /></td>
            </tr>
            <tr>
                <td>Product ID</td>
                <td></td>
                <td><input type="text" @bind="@Context.ProductId" /></td>
            </tr>
            <tr>
                <td>Lighting</td>
                <td></td>
                <td>
                    <select @onchange="OnLightingChanged">
                        @foreach (var item in Enum.GetNames(typeof(Lighting)))
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Matrix</td>
                <td>Rows</td>
                <td><input type="number" @bind="@Context.Rows" /></td>
            </tr>
            <tr>
                <td></td>
                <td>Cols</td>
                <td><input type="number" @bind="@Context.Cols" /></td>
            </tr>
            <tr>
                <td>Layouts</td>
                <td>Labels</td>
                <td><textarea style="font-family: monospace; width:100%" rows="1" @bind="@Context.Labels" /></td>
            </tr>
            <tr>
                <td></td>
                <td valign="top">Keymap</td>
                <td><textarea style="font-family: monospace; width:100%" rows="10" @bind="@Context.Keymap" /></td>
            </tr>
        </tbody>
    </table>
</PageLayout>

@code {
    private PageLayout pageBase;

    private ViaContext Context = new ViaContext
    {
        Lighting = Lighting.none.ToString(),
    };

    private bool Validate(IFileListEntry file)
    {
        var fileName = file.Name;

        return fileName.ToLower().Equals("config.h") || fileName.ToLower().EndsWith(".json");
    }

    private async Task OnUpload(IFileListEntry file)
    {
        var fileName = file.Name;

        using var reader = new StreamReader(file.Data);

        if (fileName.ToLower().Equals("config.h"))
        {
            try
            {
                await this.FillPropertiesAsync(await reader.ReadToEndAsync());
            }
            catch
            {
                this.pageBase.ShowError("解析に失敗しました。手動で入力してください。");
                return;
            }
        }
        else if (fileName.ToLower().EndsWith(".json"))
        {
            this.Context.Keymap = await reader.ReadToEndAsync();
        }
    }

    private async Task FillPropertiesAsync(string target)
    {
        await Task.Run(() =>
        {
            var info = this.Extractor.Extract(target);

            this.Context.Name = info.Name;
            this.Context.VendorId = info.VendorId;
            this.Context.ProductId = info.ProductId;
            this.Context.Rows = info.Rows;
            this.Context.Cols = info.Cols;
        });
    }

    private async ValueTask OnDownload()
    {
        var context = new JsonBuildingContext
        {
            ViaContext = this.Context,
        };

        var json = this.ViaBuilder.Build(context);

        await this.BlazorDownloadFileService.DownloadFileFromText($"{this.Context.Name.ToLower().Replace(" ", "_")}.json", json, "application/octet-stream");
    }

    private void OnLightingChanged(ChangeEventArgs e)
    {
        this.Context.Lighting = e.Value.ToString();
    }
}
